* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  background: transparent;
}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

.medium_font {
  font-weight: 500;
}

.bold_font {
  font-weight: 700;
}

.no_arrow:after {
  content: none;
}

.primary {
  color: #1690B0;
}

a.primary:hover {
  color: #106b83;
  text-decoration: none;
}

.grey {
  color: #777;
}

.grey_icon {
  color: #aaa;
}

a:hover {
  text-decoration: none;
  color: #1690B0;
}

.input_group {
  position: relative;
}

.input_group i {
  color: #1690B0;
  position: absolute;
  left: .75rem;
  top: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: 2;
  font-size: .875rem;
}

.form_control {
  background-color: #EFEFEF;
  border: 1px solid #DDDDDD;
  display: block;
  width: 100%;
  color: #333;
  padding: .75rem 1rem;
  border-radius: 2rem;
}

.form_control:active, .form_control:focus {
  border-color: #1690B0;
}

.form_control.transparent {
  background: transparent;
}

.form_control.small_control {
  padding: .25rem 1rem;
}

.checkbox_custom {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.checkbox_custom input {
  opacity: 0;
  position: absolute;
  right: 0;
  width: 1.5rem;
  height: 1.5rem;
  z-index: 2;
}

.checkbox_custom span {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox_custom span:before {
  content: '\f00c';
  font-family: 'font awesome 5 pro';
  font-weight: 900;
  color: #1690B0;
  opacity: 0;
}

.checkbox_custom input:checked ~ span {
  border-color: #1690B0;
}

.checkbox_custom input:checked ~ span:before {
  opacity: 1;
}

.checkbox_custom::-moz-selection {
  background-color: transparent;
}

.checkbox_custom::selection {
  background-color: transparent;
}

.checkbox_custom.check_tab span {
  width: inherit;
  height: inherit;
  padding: .5rem .75rem;
  background: #f3f3f3;
  border-radius: .25rem;
  border: 1px solid #eee;
  font-size: 1rem;
}

.checkbox_custom.check_tab span:before {
  content: none;
}

.checkbox_custom.check_tab input:checked ~ span {
  background: #1690B0;
  color: #fff;
}

.checkbox_custom.radio span {
  border-radius: 50%;
}

.checkbox_custom.radio span:before {
  content: '';
  width: .75rem;
  height: .75rem;
  display: inline-block;
  border-radius: 50%;
  background: #1690B0;
}

.select2-container {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.select2-container .select2-selection--single {
  border: 2px solid #E6E6E6;
  border-radius: .25rem 0 0 .25rem;
  background: #EFEFEF;
}

.select2-container .select2-selection--single,
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 3rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  left: .25rem;
}

.select2-search--dropdown .select2-search__field {
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 3rem;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0 .75rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #1690B0;
}

.custom_dropfile {
  color: #aaa;
  padding: 2rem 0;
  text-align: center;
  position: relative;
  font-weight: 500;
  border: 2px dashed rgba(207, 207, 207, 0.867);
}

.custom_dropfile span:last-of-type {
  font-size: 1.25rem;
}

.custom_dropfile input {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
}

.remove_dropfile {
  color: #fc3a3a;
  font-weight: 500;
}

.main_btn {
  background-color: #1690B0;
  padding: .75rem .75rem;
  color: #fff;
  border-radius: 2rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  text-align: center;
}

.main_btn:hover {
  background: #106b83;
  color: #fff;
  text-decoration: none;
}

.main_btn.secondary {
  background: #ebebeb;
  color: inherit;
}

.main_btn.secondary:hover {
  background: #dedede;
}

.main_btn.btn_md {
  min-width: 6.25rem;
  font-size: 1.125rem;
}

.main_btn.btn_lg {
  min-width: 8.125rem;
  font-size: 1.125rem;
}

.main_btn.btn_sm {
  padding: .25rem;
}

.main_btn.danger {
  background-color: #ff8787;
  color: #ffffff;
}

.swal2-styled.swal2-confirm {
  background-color: #1690B0 !important;
}

.transparent_btn {
  border: 1px solid #1690B0;
  color: #1690B0;
  display: inline-block;
  border-radius: .25rem;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  padding: .5rem .75rem;
  text-align: center;
}

.icon_btn {
  width: 1.5rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  max-width: 100%;
  font-size: .75rem;
}

.icon_btn.danger {
  background-color: #ffd0d0;
  color: #df5656;
}

.icon_btn.edit {
  background-color: #a3daff;
  color: #2675ab;
}

.small_font {
  font-size: .875rem;
  font-weight: 500;
}

.modal .close {
  font-size: 2rem;
  color: #aaa;
}

.dropdown-menu {
  -webkit-box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: #1690B0;
}

.custom_tabs {
  border: 1px solid #ddd;
  background: #F2F2F2;
  border-radius: .25rem;
}

.custom_tabs .nav-link {
  border: 1px solid transparent;
  border-left-color: #ddd;
  color: #333;
  font-weight: 500;
}

.custom_tabs .nav-link.active {
  border-color: #1690B0;
  border-left: 0 none;
  background: #1690B0;
  color: #fff;
  border-radius: 0;
}

[data-notify=dismiss] {
  left: .75rem;
  right: auto !important;
}

@font-face {
  src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
  font-family: 'Light';
}

@font-face {
  src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
  font-family: 'Reg';
}

@font-face {
  src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
  font-family: 'Med';
}

@font-face {
  src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
  font-family: 'Bold';
}

body {
  font-family: 'Reg';
  color: #032730;
}

.login_wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
}

.loginForm_wrapper {
  min-height: 100vh;
  background: #fff;
  padding: 1.5rem 2.5rem;
}

@media (min-width: 992px) {
  .loginForm_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .loginForm_wrapper {
    padding: 1.5rem 1rem;
  }
}

.loginForm_wrapper img {
  width: 60px;
}

.loginForm_wrapper .form_group {
  margin-bottom: 1.875rem;
}

.custom_navbar {
  padding: 0 1.875rem;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #fff;
}

@media (max-width: 768px) {
  .custom_navbar {
    padding: .25rem 0.9375rem;
  }
}

.custom_navbar .navbar-brand {
  padding: .5rem 0;
}

.custom_navbar .navbar-brand img {
  width: 40px;
}

.custom_navbar .navbar_search {
  border-left: 1px solid #E8E8E8;
  padding-left: .5rem;
  position: relative;
}

@media (max-width: 768px) {
  .custom_navbar .navbar_search {
    display: none;
  }
}

.custom_navbar .navbar_search i {
  position: absolute;
  left: .5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #D5D5D5;
}

.custom_navbar .navbar_search input {
  height: 100%;
  padding-left: 2rem;
}

.custom_navbar .navbar_search input::-webkit-input-placeholder {
  font-family: 'Light';
  color: #919191;
}

.custom_navbar .navbar_search input:-ms-input-placeholder {
  font-family: 'Light';
  color: #919191;
}

.custom_navbar .navbar_search input::-ms-input-placeholder {
  font-family: 'Light';
  color: #919191;
}

.custom_navbar .navbar_search input::placeholder {
  font-family: 'Light';
  color: #919191;
}

.custom_navbar .nav_btn {
  background: #ebebeb;
  width: 32px;
  height: 32px;
  line-height: 32px;
  border-radius: 50%;
  color: #777;
}

.orders_main_wrapper {
  background: #021017;
  padding-top: 1.5rem;
  height: 100vh;
}

.header_tabs {
  background: #fff;
  border-top: 1px solid #E8E8E8;
  padding: 1.25rem 0 .5rem;
}

.header_tabs span {
  width: 24px;
  height: 24px;
  line-height: 24px;
  background: #EBEBEB;
  color: inherit;
  font-size: 0.75em;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.header_tabs .tabs_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  overflow-x: auto;
}

.header_tabs .tabs_group a {
  display: inline-block;
  margin-right: 1.5rem;
  color: inherit;
  font-size: 0.875em;
}

.header_tabs .tabs_group a.active {
  color: #1690B0;
}

.header_tabs .tabs_group a.active span {
  background: #1690B0;
  color: #fff;
}

.container-fluid {
  padding: 0 30px;
}

@media (max-width: 768px) {
  .container-fluid {
    padding: 0 15px;
  }
}

.single_order {
  background: #fff;
  border-radius: .5rem;
}

.order_head {
  background: #F5F5F5;
  padding: 1rem;
  border-radius: .5rem .5rem 0 0;
  margin-bottom: .75rem;
  position: relative;
}

.order_head h3 {
  font-family: 'Med';
  font-size: 1rem;
  margin-bottom: 0;
}

.order_head.preparing {
  background: #F8E914;
}

.order_head.preparing span {
  display: inline-block;
  background: #fff;
  color: #FF8800;
  border-radius: .25rem;
  padding: .25rem .5rem;
  margin-left: auto;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  font-size: 0.75rem;
}

.order_head.preparing span:before {
  content: '';
  border: 7px solid transparent;
  border-left-color: #fff;
  position: absolute;
  right: -.9rem;
}

.single_order_item {
  padding: 0 1rem;
  border-bottom: 1px solid #E8E8E8;
  margin-bottom: .75rem;
}

.single_order_item:last-of-type {
  border-bottom: none;
}

.single_order_item h3 {
  font-size: 0.875rem;
  margin-bottom: 0;
}

.single_order_item p {
  font-size: 0.75rem;
  color: #777;
  margin-bottom: 0;
  margin-top: .5rem;
}

.order_items {
  max-height: 250px;
  overflow-y: auto;
  scrollbar-color: #9e9e9e #f3f3f3;
  scrollbar-width: thin;
}

.order_btn {
  background: #1690B0;
  padding: .75rem;
  display: block;
  width: 100%;
  color: #fff;
  border-radius: 0 0 .5rem .5rem;
}

.order_note {
  background: #FFFBF5;
  color: #AA610E;
  padding: 1rem;
  font-size: 0.875rem;
  border-left: 4px solid #F8AC14;
}

.dropdown-menu {
  display: block;
  opacity: 0;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
  visibility: hidden;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  left: auto !important;
  right: 0 !important;
}

.dropdown-menu.show {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  visibility: visible;
}

.dropdown-item {
  font-size: 0.875rem;
  color: inherit;
  padding: .5rem 1rem;
}
/*# sourceMappingURL=main.css.map */