@font-face{
    src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Light.ttf);
    font-family: 'Light';
}
@font-face{
    src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Regular.ttf);
    font-family: 'Reg';
}
@font-face{
    src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Medium.ttf);
    font-family: 'Med';
}
@font-face{
    src: url(../webfonts/ArbFONTS-Montserrat-Arabic-Bold.ttf);
    font-family: 'Bold';
}

body{
    font-family: 'Reg';
    color: #032730;
   
}

.login_wrapper{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
}
.loginForm_wrapper{
    min-height: 100vh;
    background: #fff;
    padding: 1.5rem 2.5rem;
    @media(min-width: 992px){
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    @media(max-width: 768px){
        padding: 1.5rem 1rem;
    }
    img{
        width: 60px;
    }
    .form_group{
        margin-bottom: 1.875rem;
    }
}
.custom_navbar{
    padding: 0 1.875rem;
    align-items: stretch;
    background: #fff;
    @media(max-width: 768px){
        padding: .25rem 0.9375rem;
    }
    .navbar-brand{
        padding: .5rem 0;
    }
    .navbar-brand img{
        width: 40px;
    }
    .navbar_search{
        border-left: 1px solid $border-color;
        padding-left: .5rem;
        position: relative;
        @media(max-width: 768px){
            display: none;
        }
        i{
            position: absolute;
            left: .5rem;
            top: 50%;
            transform: translateY(-50%);
            color: $icon-color;
        }
        input{
            height: 100%;
            padding-left: 2rem;
            &::placeholder{
                font-family: 'Light';
                color: #919191;
            }
        }
    }
    .nav_btn{
        background: #ebebeb;
        width: 32px;
        height: 32px;
        line-height: 32px;
        border-radius: 50%;
        color: #777;
    }
}
.orders_main_wrapper{
    background:#021017;
    padding-top: 1.5rem;
    height: 100vh;
}
.header_tabs{
    background: #fff;
    border-top: 1px solid $border-color;
    padding: 1.25rem 0 .5rem;
    
    span{
        width: 24px;
        height: 24px;
        line-height: 24px;
        background: #EBEBEB;
        color: inherit;
        font-size: 0.75em;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
    }
    .tabs_group{
        display: flex;
        flex-flow: nowrap;
        overflow-x: auto;
    }
    .tabs_group a{
        display: inline-block;
        margin-right: 1.5rem;
        color: inherit;
        font-size: 0.875em;
       
        &.active{
            color: $color;
            span{
                background: $color;
                color: #fff;
            }
        }
    }
}
.container-fluid{
    padding: 0 30px;
    @media(max-width: 768px){
        padding: 0 15px;
    }
}
.single_order{
    background: #fff;
    border-radius: .5rem;
   
}
.order_head{
    background: #F5F5F5;
    padding: 1rem;
    border-radius: .5rem .5rem 0 0;
    margin-bottom: .75rem;
    position: relative;
    h3{
        font-family: 'Med';
        font-size: 1rem;
        margin-bottom: 0;
    }
    &.preparing{
        background: #F8E914;
        span{
            display: inline-block;
            background: #fff;
            color: #FF8800;
            border-radius: .25rem;
            padding: .25rem .5rem;
            margin-left: auto;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            font-size: 0.75rem;
            &:before{
                content: '';
                border: 7px solid transparent;
                border-left-color: #fff;
                position: absolute;
                right: -.9rem;
            }
        }
    }
}
.single_order_item{
    padding: 0 1rem;
    border-bottom: 1px solid $border-color;
    margin-bottom: .75rem;
    &:last-of-type{
        border-bottom: none;
    }
    h3{
        font-size: 0.875rem;
        margin-bottom: 0;
    }    
    p{
        font-size: 0.75rem;
        color: #777;
        margin-bottom: 0;
        margin-top: .5rem;
    }
}
.order_items{
    max-height: 250px;
    overflow-y: auto;
    scrollbar-color: #9e9e9e #f3f3f3;
    scrollbar-width: thin;
}
.order_btn{
    background: $color;
    padding: .75rem;
    display: block;
    width: 100%;
    color: #fff;
    border-radius: 0 0 .5rem .5rem;
}
.order_note{
    background: #FFFBF5;
    color: #AA610E;
    padding: 1rem;
    font-size: 0.875rem;
    border-left: 4px solid #F8AC14;
}
.dropdown-menu{
    display: block;
    opacity: 0;
    transform: translateY(6px);
    visibility: hidden;
    transition: $trans;
    left: auto !important;
    right: 0 !important;
    &.show{
        opacity: 1;
        transform: translateY(0px);
        visibility: visible;
    }
}
.dropdown-item{
    font-size: 0.875rem;
    color: inherit;
    padding: .5rem 1rem;
}