$color:#1690B0;
$icon-color: #D5D5D5;
$border-color: #E8E8E8;
$trans: .25s ease-in-out;

* {
  margin: 0;
  padding: 0;
  border: 0 none;
  outline: 0 none;
  background: transparent;
}

button:focus {
  outline: 0 none;
}

img,
iframe {
  max-width: 100%;
}

@import 'ui';
@import 'app';
